services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.dev
    command: npm run dev:docker
    ports:
      - '3000:3000'
    env_file:
      - .env
    volumes:
      - ./src:/app/src
      - ./package.json:/app/package.json
      - ./tsconfig.json:/app/tsconfig.json
    depends_on:
      - mongo
    environment:
      NODE_ENV: development
      MONGODB_URI: mongodb://mongo:27017/express_best
    restart: unless-stopped

  mongo:
    image: mongo:latest
    ports:
      - '27017:27017'
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
